@charset "UTF-8";

:where(.astro-Y2NFGIUO)[data-opacity-io] {
    opacity: 0;
    transition: opacity .6s cubic-bezier(.33, 1, .68, 1)
}

:where(.astro-Y2NFGIUO)[data-opacity-io].isIntersect_opacity {
    opacity: 1
}

.ButtonPager:where(.astro-Y2NFGIUO) {
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff1a;
    transition: background-color .4s cubic-bezier(.16, 1, .3, 1)
}

@media screen and (min-width: 768px) {
    .ButtonPager:where(.astro-Y2NFGIUO) {
        width: 5.625rem;
        height: 3.75rem;
        border-radius: 3.75rem
    }
}

@media screen and (max-width:767.98px) {
    .ButtonPager:where(.astro-Y2NFGIUO) {
        width: 3.125rem;
        height: 2.5rem;
        border-radius: 2.5rem
    }
}

.ButtonPager:where(.astro-Y2NFGIUO).button-prev {
    transform: rotate(180deg)
}

[data-whatintent=mouse] .ButtonPager:where(.astro-Y2NFGIUO):hover {
    background-color: #09a64db3;
    transition: background-color .3s cubic-bezier(.16, 1, .3, 1)
}

.arrow-container:where(.astro-Y2NFGIUO) {
    position: relative
}

.arrow:where(.astro-Y2NFGIUO) {
    display: block
}

@media screen and (min-width: 768px) {
    .arrow:where(.astro-Y2NFGIUO) {
        top: -.125rem
    }
}

@media screen and (max-width:767.98px) {
    .arrow:where(.astro-Y2NFGIUO) {
        width: .375rem;
        height: .5625rem
    }
}

.arrow:where(.astro-Y2NFGIUO).arrow-hover {
    position: absolute;
    left: 0;
    top: 0;
    fill: #fff;
    opacity: 0
}

:where(.astro-ZD3POVTQ)[data-opacity-io] {
    opacity: 0;
    transition: opacity .6s cubic-bezier(.33, 1, .68, 1)
}

:where(.astro-ZD3POVTQ)[data-opacity-io].isIntersect_opacity {
    opacity: 1
}

.Pager:where(.astro-ZD3POVTQ) {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto
}

@media screen and (min-width: 768px) {
    .Pager:where(.astro-ZD3POVTQ) {
        width: 47.5rem;
        margin-top: 5rem;
        margin-bottom: 18.75rem
    }
}

@media screen and (max-width:767.98px) {
    .Pager:where(.astro-ZD3POVTQ) {
        width: 22.125rem;
        margin-top: 5.3125rem
    }
}

.index-container:where(.astro-ZD3POVTQ) {
    display: flex;
    justify-content: center
}

.list:where(.astro-ZD3POVTQ) {
    font-family: Chakra Petch, sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center
}

.list-anchor:where(.astro-ZD3POVTQ),
.list-more:where(.astro-ZD3POVTQ) {
    letter-spacing: .05em;
    opacity: .2
}

@media screen and (min-width: 768px) {

    .list-anchor:where(.astro-ZD3POVTQ),
    .list-more:where(.astro-ZD3POVTQ) {
        font-size: 1.875rem;
        padding: .625rem
    }
}

@media screen and (max-width:767.98px) {

    .list-anchor:where(.astro-ZD3POVTQ),
    .list-more:where(.astro-ZD3POVTQ) {
        font-size: 1.1875rem;
        padding: .78125rem
    }
}

.list-anchor:where(.astro-ZD3POVTQ) {
    transition: opacity .4s cubic-bezier(.16, 1, .3, 1), color .4s cubic-bezier(.16, 1, .3, 1)
}

[data-whatintent=mouse] .list-anchor:where(.astro-ZD3POVTQ):hover {
    color: #1ece73;
    opacity: 1;
    transition: opacity .4s cubic-bezier(.22, 1, .36, 1), color .4s cubic-bezier(.22, 1, .36, 1)
}

.list-anchor:where(.astro-ZD3POVTQ).-current {
    color: #1ece73;
    opacity: 1
}

.arrow:where(.astro-ZD3POVTQ) {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff1a
}

@media screen and (min-width: 768px) {
    .arrow:where(.astro-ZD3POVTQ) {
        width: 5.625rem;
        height: 3.75rem;
        border-radius: 3.75rem
    }
}

@media screen and (max-width:767.98px) {
    .arrow:where(.astro-ZD3POVTQ) {
        width: 3.125rem;
        height: 2.5rem;
        border-radius: 2.5rem
    }
}

.arrow:where(.astro-ZD3POVTQ).arrow-prev {
    transform: rotate(180deg)
}

@media screen and (max-width:767.98px) {
    .arrow-icon:where(.astro-ZD3POVTQ) {
        width: .375rem;
        height: .5625rem
    }
}

:where(.astro-YASSVMFT)[data-opacity-io] {
    opacity: 0;
    transition: opacity .6s cubic-bezier(.33, 1, .68, 1)
}

:where(.astro-YASSVMFT)[data-opacity-io].isIntersect_opacity {
    opacity: 1
}

@media screen and (min-width: 768px) {
    .FilterBlock:where(.astro-YASSVMFT)+.FilterBlock:where(.astro-YASSVMFT) {
        margin-top: 2.1875rem
    }
}

@media screen and (max-width:767.98px) {
    .FilterBlock:where(.astro-YASSVMFT)+.FilterBlock:where(.astro-YASSVMFT) {
        margin-top: 1.09375rem
    }
}

.title:where(.astro-YASSVMFT) {
    font-family: Chakra Petch, sans-serif;
    letter-spacing: .05em;
    text-transform: uppercase
}

@media screen and (min-width: 768px) {
    .title:where(.astro-YASSVMFT) {
        font-size: .75rem;
        margin-bottom: 1.25rem
    }
}

@media screen and (max-width:767.98px) {
    .title:where(.astro-YASSVMFT) {
        font-size: .75rem;
        margin-bottom: .625rem
    }
}

.sort:where(.astro-YASSVMFT) {
    position: relative
}

[data-whatintent=mouse] .sort:where(.astro-YASSVMFT):hover .current-tag:where(.astro-YASSVMFT) {
    color: #1ece73
}

[data-whatintent=mouse] .sort:where(.astro-YASSVMFT):hover .arrow:where(.astro-YASSVMFT) {
    fill: #1ece73
}

.current-tag:where(.astro-YASSVMFT) {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    font-weight: 600;
    line-height: 1.4;
    text-transform: uppercase;
    transition: color .4s cubic-bezier(.22, 1, .36, 1)
}

@media screen and (min-width: 768px) {
    .current-tag:where(.astro-YASSVMFT) {
        padding-bottom: .625rem;
        font-size: 2.375rem
    }
}

@media screen and (max-width:767.98px) {
    .current-tag:where(.astro-YASSVMFT) {
        padding-bottom: .46875rem;
        font-size: 1.1875rem
    }
}

.arrow:where(.astro-YASSVMFT) {
    position: absolute;
    right: 0;
    top: 50%;
    transform: rotate(180deg);
    transition: fill .4s cubic-bezier(.22, 1, .36, 1)
}

@media screen and (min-width: 768px) {
    .arrow:where(.astro-YASSVMFT) {
        width: .4375rem;
        height: .25rem;
        margin-top: -.1875rem
    }
}

@media screen and (max-width:767.98px) {
    .arrow:where(.astro-YASSVMFT) {
        width: .40625rem;
        height: .25rem;
        margin-top: -.1875rem
    }
}

.select:where(.astro-YASSVMFT) {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

:where(.astro-O4OLH32L)[data-opacity-io] {
    opacity: 0;
    transition: opacity .6s cubic-bezier(.33, 1, .68, 1)
}

:where(.astro-O4OLH32L)[data-opacity-io].isIntersect_opacity {
    opacity: 1
}

.Filter:where(.astro-O4OLH32L) {
    position: absolute;
    left: 0
}

@media screen and (min-width: 768px) {
    .Filter:where(.astro-O4OLH32L) {
        width: 20.9375rem;
        bottom: 11.875rem
    }
}

@media screen and (max-width:767.98px) {
    .Filter:where(.astro-O4OLH32L) {
        width: 10.46875rem;
        bottom: 5.3125rem
    }
}

:where(.astro-5N3N36YB)[data-opacity-io] {
    opacity: 0;
    transition: opacity .6s cubic-bezier(.33, 1, .68, 1)
}

:where(.astro-5N3N36YB)[data-opacity-io].isIntersect_opacity {
    opacity: 1
}

.ReadMore:where(.astro-5N3N36YB) {
    display: flex;
    align-items: center;
    overflow: hidden;
    pointer-events: none;
    z-index: 0
}

@media screen and (min-width: 768px) {
    .ReadMore:where(.astro-5N3N36YB) {
        position: absolute;
        top: 0;
        height: 31.5rem
    }
}

.bMobile .ReadMore:where(.astro-5N3N36YB) {
    display: none
}

@media screen and (min-width: 768px) {
    .ReadMore:where(.astro-5N3N36YB).ReadMore-odd {
        left: -57.25rem
    }
}

@media screen and (min-width: 768px) {
    .ReadMore:where(.astro-5N3N36YB).ReadMore-even {
        left: -9.375rem
    }
}

.ReadMore:where(.astro-5N3N36YB).-active .item-actor {
    opacity: 1;
    transform: scale(1);
    filter: blur(0)
}

.ReadMore:where(.astro-5N3N36YB).-active .item-actor[data-delay-index="0"] {
    transition-delay: 0s
}

.ReadMore:where(.astro-5N3N36YB).-active .item-actor[data-delay-index="1"] {
    transition-delay: .1s
}

.ReadMore:where(.astro-5N3N36YB).-active .item-actor[data-delay-index="2"] {
    transition-delay: .2s
}

.ReadMore:where(.astro-5N3N36YB).-active .item-actor[data-delay-index="3"] {
    transition-delay: .3s
}

.ReadMore:where(.astro-5N3N36YB).-active .item-actor[data-delay-index="4"] {
    transition-delay: .4s
}

.ReadMore:where(.astro-5N3N36YB).-active .item-actor[data-delay-index="5"] {
    transition-delay: .5s
}

.ReadMore:where(.astro-5N3N36YB).-active .item-actor[data-delay-index="6"] {
    transition-delay: .6s
}

.ReadMore:where(.astro-5N3N36YB).-active .item-actor[data-delay-index="7"] {
    transition-delay: .7s
}

.wrapper:where(.astro-5N3N36YB) {
    display: block
}

@media screen and (min-width: 768px) {
    .wrapper:where(.astro-5N3N36YB) {
        padding-top: 3.75rem;
        padding-bottom: 3.125rem
    }
}

@media screen and (max-width:767.98px) {
    .wrapper:where(.astro-5N3N36YB) {
        padding-top: 1.875rem;
        padding-bottom: 1.5625rem
    }
}

.inner:where(.astro-5N3N36YB) {
    display: flex;
    transform-origin: left;
    opacity: .15
}

.item:where(.astro-5N3N36YB) {
    font-family: Chakra Petch, sans-serif;
    font-weight: 600;
    color: #fff;
    white-space: nowrap
}

@media screen and (min-width: 768px) {
    .item:where(.astro-5N3N36YB) {
        font-size: 21.875rem;
        padding-right: 14.125rem
    }
}

.item:where(.astro-5N3N36YB) .item-actor {
    opacity: 0;
    transform: scale(.9);
    filter: blur(1.875rem);
    transition: opacity 1s cubic-bezier(.22, 1, .36, 1), transform 1s cubic-bezier(.22, 1, .36, 1), filter 1s cubic-bezier(.22, 1, .36, 1)
}

:where(.astro-NFXANTMP)[data-opacity-io] {
    opacity: 0;
    transition: opacity .6s cubic-bezier(.33, 1, .68, 1)
}

:where(.astro-NFXANTMP)[data-opacity-io].isIntersect_opacity {
    opacity: 1
}

.NewsItem:where(.astro-NFXANTMP) {
    box-sizing: initial;
    z-index: 5;
    pointer-events: none;
    opacity: 0;
    transform: translate(10%);
    transition: opacity .2s cubic-bezier(.5, 1, .89, 1), transform 0s .1s
}

@media screen and (min-width: 768px) {
    .NewsItem:where(.astro-NFXANTMP) {
        width: 31.5rem;
        height: 44.375rem;
        padding-right: 1.875rem
    }
}

@media screen and (max-width:767.98px) {
    .NewsItem:where(.astro-NFXANTMP) {
        padding-right: 1.5rem
    }
}

@media screen and (max-width:767.98px) {
    .NewsItem:where(.astro-NFXANTMP)+.NewsItem:where(.astro-NFXANTMP) {
        margin-top: 3.28125rem
    }
}

@media screen and (min-width: 768px) {
    .NewsItem:where(.astro-NFXANTMP):nth-child(even) {
        margin-top: -22.1875rem
    }
}

.NewsItem:where(.astro-NFXANTMP).-show {
    opacity: 1;
    transform: translate(0);
    transition: opacity .5s cubic-bezier(.45, 0, .55, 1), transform 1s cubic-bezier(.16, 1, .3, 1)
}

.NewsItem:where(.astro-NFXANTMP).-blur {
    opacity: .05;
    z-index: 0;
    transition: opacity .4s cubic-bezier(.5, 1, .89, 1)
}

.NewsItem:where(.astro-NFXANTMP).-focus {
    transition: opacity .2s cubic-bezier(.16, 1, .3, 1)
}

.anchor:where(.astro-NFXANTMP) {
    display: block;
    position: relative;
    pointer-events: all
}

.image:where(.astro-NFXANTMP) {
    position: relative;
    overflow: hidden;
    z-index: 2
}

@media screen and (min-width: 768px) {
    .image:where(.astro-NFXANTMP) {
        width: 31.5rem;
        height: 31.5rem;
        border-radius: 1.25rem
    }
}

@media screen and (max-width:767.98px) {
    .image:where(.astro-NFXANTMP) {
        width: 19.375rem;
        height: 19.375rem;
        border-radius: .625rem
    }
}

.image:where(.astro-NFXANTMP) img:where(.astro-NFXANTMP) {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform .3s cubic-bezier(.5, 1, .89, 1)
}

.-focus:where(.astro-NFXANTMP) .image:where(.astro-NFXANTMP) img:where(.astro-NFXANTMP) {
    transform: scale(1.05);
    transition: transform .3s cubic-bezier(.5, 1, .89, 1)
}

.title:where(.astro-NFXANTMP) {
    transform: scaleX(.9);
    width: 111.1%;
    transform-origin: left;
    line-height: 1.7777777778;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: justify;
    overflow: hidden
}

@media screen and (min-width: 768px) {
    .title:where(.astro-NFXANTMP) {
        font-size: 1.125rem;
        margin-top: 1.8125rem;
        letter-spacing: .2em
    }
}

@media screen and (max-width:767.98px) {
    .title:where(.astro-NFXANTMP) {
        font-size: .9375rem;
        margin-top: 1.0625rem;
        letter-spacing: .1em
    }
}

.info:where(.astro-NFXANTMP) {
    position: absolute;
    top: 0;
    transform: rotate(90deg);
    transform-origin: left bottom
}

@media screen and (min-width: 768px) {
    .info:where(.astro-NFXANTMP) {
        width: 31.5rem;
        right: -33.375rem
    }
}

@media screen and (max-width:767.98px) {
    .info:where(.astro-NFXANTMP) {
        width: 19.375rem;
        right: -20.875rem
    }
}

.date:where(.astro-NFXANTMP) {
    position: absolute;
    white-space: nowrap
}

.date:where(.astro-NFXANTMP):before {
    content: "";
    position: relative;
    display: inline-block;
    background: linear-gradient(to right, #30ae52 12%, #3588c9 88%)
}

@media screen and (min-width: 768px) {
    .date:where(.astro-NFXANTMP):before {
        width: 1.25rem;
        height: .625rem;
        border-radius: .3125rem;
        margin-right: .75rem
    }
}

@media screen and (max-width:767.98px) {
    .date:where(.astro-NFXANTMP):before {
        width: 1.40625rem;
        height: .625rem;
        border-radius: .3125rem;
        margin-right: .3125rem;
        top: .03125rem
    }
}

.date-text:where(.astro-NFXANTMP) {
    font-family: Chakra Petch, sans-serif;
    font-weight: 500;
    letter-spacing: .05em;
    display: inline;
    white-space: nowrap
}

@media screen and (min-width: 768px) {
    .date-text:where(.astro-NFXANTMP) {
        font-size: .9375rem
    }
}

@media screen and (max-width:767.98px) {
    .date-text:where(.astro-NFXANTMP) {
        font-size: .875rem
    }
}

.category:where(.astro-NFXANTMP) {
    position: absolute;
    right: 0;
    font-weight: 600;
    white-space: nowrap
}

@media screen and (min-width: 768px) {
    .category:where(.astro-NFXANTMP) {
        font-size: .9375rem
    }
}

@media screen and (max-width:767.98px) {
    .category:where(.astro-NFXANTMP) {
        font-size: .6875rem
    }
}

:where(.astro-EENU773Z)[data-opacity-io] {
    opacity: 0;
    transition: opacity .6s cubic-bezier(.33, 1, .68, 1)
}

:where(.astro-EENU773Z)[data-opacity-io].isIntersect_opacity {
    opacity: 1
}

.LowerFv2:where(.astro-EENU773Z) {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 200vh;
    height: 200svh;
    pointer-events: none
}

.inner:where(.astro-EENU773Z) {
    position: sticky;
    left: 0;
    top: 0;
    height: 100vh;
    height: 100svh;
    z-index: 1
}

@media screen and (min-width: 768px) {
    .inner:where(.astro-EENU773Z) {
        margin-inline: 9.5rem
    }
}

@media screen and (max-width:767.98px) {
    .inner:where(.astro-EENU773Z) {
        margin-inline: 1.875rem
    }
}

@media screen and (max-width:767.98px) {
    .inner:where(.astro-EENU773Z) {
        width: 22.125rem
    }
}

.title:where(.astro-EENU773Z) {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: right
}

@media screen and (min-width: 768px) {
    .title:where(.astro-EENU773Z) {
        margin-top: -2.5rem
    }
}

@media screen and (max-width:767.98px) {
    .title:where(.astro-EENU773Z) {
        margin-top: -2.625rem
    }
}

.titleMain:where(.astro-EENU773Z) {
    font-family: Inter, Noto Sans JP, YuGothic, 游ゴシック, Hiragino Kaku Gothic ProN, Hiragino Sans, Meiryo, sans-serif;
    font-weight: 700
}

@media screen and (min-width: 768px) {
    .titleMain:where(.astro-EENU773Z) {
        font-size: 7.5rem
    }
}

@media screen and (max-width:767.98px) {
    .titleMain:where(.astro-EENU773Z) {
        font-size: 3.125rem
    }
}

.titleSub:where(.astro-EENU773Z) {
    font-weight: 600;
    letter-spacing: .1em
}

.bAndroid .titleSub:where(.astro-EENU773Z) {
    font-weight: 700
}

@media screen and (min-width: 768px) {
    .titleSub:where(.astro-EENU773Z) {
        font-size: 2.375rem;
        margin-top: .9375rem
    }
}

@media screen and (max-width:767.98px) {
    .titleSub:where(.astro-EENU773Z) {
        font-size: .875rem;
        margin-top: .46875rem
    }
}

:where(.astro-XZRTOO6Z)[data-opacity-io] {
    opacity: 0;
    transition: opacity .6s cubic-bezier(.33, 1, .68, 1)
}

:where(.astro-XZRTOO6Z)[data-opacity-io].isIntersect_opacity {
    opacity: 1
}

.container-inner:where(.astro-XZRTOO6Z) {
    position: relative;
    margin-top: -200vh;
    margin-top: -200svh
}

@media screen and (min-width: 768px) {
    .container-inner:where(.astro-XZRTOO6Z) {
        margin-inline: 9.5rem
    }
}

@media screen and (max-width:767.98px) {
    .container-inner:where(.astro-XZRTOO6Z) {
        margin-inline: 1.875rem
    }
}

.sort-container:where(.astro-XZRTOO6Z) {
    position: relative;
    height: 100vh;
    height: 100svh
}

.list:where(.astro-XZRTOO6Z) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

@media screen and (min-width: 768px) {
    .list:where(.astro-XZRTOO6Z) {
        margin-top: 3rem
    }
}

@media screen and (max-width:767.98px) {
    .list:where(.astro-XZRTOO6Z) {
        margin-top: 1.375rem;
        margin-inline: .625rem
    }
}

.list:where(.astro-XZRTOO6Z):before {
    content: ""
}

@media screen and (min-width: 768px) {
    .list:where(.astro-XZRTOO6Z):before {
        width: 31.5rem
    }
}

@media screen and (min-width: 768px) {
    .notFound:where(.astro-XZRTOO6Z) {
        font-size: 1.125rem
    }
}

@media screen and (max-width:767.98px) {
    .notFound:where(.astro-XZRTOO6Z) {
        font-size: .9375rem
    }
}